@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 *{
margin: 0px;
padding: 0px;
font-family: Outfit;
}
.App{
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}